/*IMPORTANT*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 300;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'), url(https://example.com/MaterialIcons-Regular.woff) format('woff'), url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
    font-family: "poppins";
    --primary: rgb(211, 13, 13);
    --primaryShade: white;
    --secondaryShade: rgb(245, 242, 248);
    --tertiaryShade: rgb(47, 48, 66);
    --quaternaryShade: rgb(51, 52, 71);
}


/*NAVBAR*/

.navTopBar {
    position: fixed;
    width: 90%;
    padding: 0 5%;
    background: var(--primaryShade);
    height: 55px;
    line-height: 55px;
    transition: all 0.3s;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
}

.navTopBar:hover {
    box-shadow: rgba(0, 0, 0, 0.06) 0 12px 12px 0;
}

.navTopBarNotTop {
    box-shadow: rgba(0, 0, 0, 0.06) 0 12px 12px 0;
}

.navChild {
    display: flex;
    align-items: center;
    width: fit-content;
    max-width: 100%;
}

.navLeft {}

.navSideBarButton {
    float: left;
    height: 45px;
    width: 45px;
    margin: 5px 10px;
    margin-left: 0;
    cursor: pointer;
    transition: all 0.3s;
    margin-right: 25px;
}

.navSideBarButton:hover {
    opacity: 0.6;
}

@media all and (max-width: 600px) {
    .navSideBarButton {
        display: none;
    }
}

.bar1,
.bar2,
.bar3 {
    width: 30px;
    height: 4px;
    background-color: rgb(0, 0, 0);
    margin: 8.5px 7.5px;
    transition: all 0.2s;
    position: relative;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 0 3px 6px 1px;
}

.barActive1 {
    background-color: var(--primary);
    top: 7px;
    transform: rotate(-30deg);
    width: 20px;
}

.barActive2 {
    background-color: var(--primary);
    width: 40px;
}

.barActive3 {
    background-color: var(--primary);
    top: -7px;
    transform: rotate(30deg);
    width: 20px;
}

.navTopper {
    display: flex;
    align-items: center;
    transition: all 0.3s;
    text-decoration: none;
    width: fit-content;
}

.navTopper:hover {
    opacity: 0.7;
}

.navIcon {
    width: 45px;
    height: 45px;
    padding: 5px 0;
}

.navHeader {
    margin: 0;
    margin-left: 10px;
    color: rgb(0, 0, 0);
    font-size: 30px;
}

.navRight {}

.navRightLeft {
    display: flex;
}

.navRightLeft a {
    text-decoration: none;
    color: black;
    align-items: center;
    height: 55px;
    padding: 0 20px;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    font-size: 18px;
    opacity: 0.7;
    font-weight: bold;
}

.navRightLeft a:hover {
    background: var(--secondaryShade);
    opacity: 1;
}

.navRightLeft a span {
    padding-right: 5px;
}

.navRightRight {
    display: flex;
    align-items: center;
    padding: 0 15px
}

.navRightButton {
    margin: 0 10px;
    text-decoration: none;
    color: white;
    background: var(--primary);
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.25) 0 2px 8px 0;
    transition: all 0.3s;
}

.navRightButton:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 6px 8px 0, inset rgba(0, 0, 0, 0.12) 0 0 0 10000px;
}

.navRightButton:focus {
    box-shadow: rgba(0, 0, 0, 0.4) 0 8px 14px 0, inset rgba(0, 0, 0, 0.2) 0 0 0 10000px;
}

.navRightButtonAlt {
    margin: 0 10px;
    text-decoration: none;
    color: white;
    background: var(--primary);
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.25) 0 2px 8px 0;
    transition: all 0.3s;
}

.navRightButtonAlt:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 6px 8px 0, inset rgba(255, 255, 255, 0.18) 0 0 0 10000px;
}

.navRightButtonAlt:focus {
    box-shadow: rgba(0, 0, 0, 0.3) 0 9px 18px 0, inset rgba(255, 255, 255, 0.25) 0 0 0 10000px;
}

.navRightIcon {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    height: 55px;
    padding: 0 5px;
    transition: all 0.3s;
}

.navRightIcon:hover {
    background: var(--secondaryShade);
}

.navRightIcon span {
    font-size: 45px;
}

.navSideBar {
    background: var(--secondaryShade);
    width: 250px;
    min-height: calc(100vh - 55px);
    padding: 10px 0;
    left: -250px;
    top: 55px;
    position: fixed;
    box-shadow: rgba(0, 0, 0, 0.12) 0 0 20px 0;
    z-index: 999;
    overflow: visible;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
}

.navSideBarActive {
    left: 0;
    opacity: 1;
    box-shadow: rgba(0, 0, 0, 0.12) 0 0 20px 0, rgba(0, 0, 0, 0.2) 0 0 0 10000px;
}

.navSideBar h3 {
    padding-left: 15px;
    font-size: 22px;
    margin: 10px 0;
}

.navSideBar a {
    padding-left: 15px;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    color: black;
    transition: all 0.3s;
    font-size: 18px;
    display: flex;
    align-items: center;
    opacity: 0.7;
    font-weight: bold;
}

.navSideBar a:hover {
    box-shadow: rgba(0, 0, 0, 0.08) 0 0 20px 0;
    background: var(--primaryShade);
    opacity: 1;
}

.navSideBar a span {
    padding-right: 5px;
}

.navTopBar .navDropDownButton {}

.navTopBar .navDropDownButton:hover {
    opacity: 1;
}

.navTopBar .navDropDownButton span {
    transition: 0.4s;
}

.navTopBar .navDropDownParent:hover button span {
    transform: rotate(180deg);
}

.navTopBar .navDropDownParent {
    position: relative;
    transition: all 0.2s;
    cursor: pointer;
}

.navTopBar .navDropDownContentParent {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    z-index: 1;
    right: -13px;
    top: 20px;
    background: transparent;
    padding: 12px;
    transition: all 0.3s;
}

.navTopBar .navDropDownContentChild {
    box-shadow: rgba(0, 0, 0, 0.08) 0 12px 22px 2px, rgba(0, 0, 0, 0.055) 0 12px 12px;
    border-radius: 4px;
    overflow: hidden;
    min-width: 200px;
    width: max-content;
    transition: all 0.3s;
    background: var(--primaryShade);
    display: flex;
    flex-direction: column;
}

.navTopBar .navDropDownContentChild:hover {
    box-shadow: rgba(0, 0, 0, 0.12) 0 12px 22px 2px, rgba(0, 0, 0, 0.075) 0 12px 12px;
}

.navTopBar .navDropDownContentChild a {}

.navTopBar .navDropDownContentChild a:hover {
    background: var(--secondaryShade);
}

.navTopBar .navDropDownParent:hover .navDropDownContentParent {
    opacity: 1;
    pointer-events: all;
    top: 50px;
}

.navTopBar .navDropDownParent:hover .navDropDownButton {
    background: var(--secondaryShade);
}

.navSideBar .navDropDownButton {}

.navSideBar .navDropDownButton:hover {
    opacity: 1;
}

.navSideBar .navDropDownButton span {
    transition: 0.4s;
}

.navSideBar .navDropDownParent:hover button span {
    transform: rotate(180deg);
}

.navSideBar .navDropDownParent {
    position: relative;
    transition: all 0.2s;
    cursor: pointer;
}

.navSideBar .navDropDownContentParent {
    opacity: 0;
    pointer-events: none;
    height: 0;
    overflow: hidden;
    background: transparent;
    transition: all 0.3s;
    position: relative;
    top: -30px;
}

.navSideBar .navDropDownContentChild {
    display: flex;
    flex-direction: column;
}

.navSideBar .navDropDownContentChild a:hover {
    background: var(--primaryShade);
}

.navSideBar .navDropDownParent:hover .navDropDownContentParent {
    opacity: 1;
    pointer-events: all;
    height: fit-content;
    top: 0;
}

.navSideBar .navDropDownParent:hover .navDropDownButton {
    background: var(--primaryShade);
}


/*CONTENT*/

.content {
    min-height: 100vh;
}

.containerPrimary {
    background: var(--primaryShade);
    padding: 40px 5%;
}

.containerSecondary {
    background: var(--secondaryShade);
    padding: 40px 5%;
}

.containerTertiary {
    background: var(--tertiaryShade);
    padding: 40px 5%;
    color: white;
}

.button {
    text-decoration: none;
    color: white;
    margin: 15px auto;
    display: block;
    width: fit-content;
    background: var(--primary);
    padding: 8px 20px;
    font-weight: 300;
    font-size: 18px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 4px 10px 0;
    transition: all 0.3s;
    user-select: none;
    border-radius: 6px;
    display: flex;
    align-items: center;
}

.button:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0 4px 10px 0, rgba(0, 0, 0, 0.15) 0 12px 16px 0, inset rgba(0, 0, 0, 0.12) 0 0 0 10000px;
}

.button:focus {
    box-shadow: rgba(0, 0, 0, 0.3) 0 4px 10px 0, rgba(0, 0, 0, 0.15) 0 18px 26px 0, inset rgba(0, 0, 0, 0.2) 0 0 0 10000px;
}

.button span {
    font-size: 25px;
    padding-right: 8px;
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    padding: 0 5%;
    align-items: flex-start;
}

.cardParent {
    padding: 1.5rem;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 10px 30px 0;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.cardHeader {
    font-size: 28px;
    margin: 13px 0;
}

.cardText {
    font-size: 16px;
    line-height: 26px;
}

.cardImage {
    width: 150px;
    height: 150px;
    margin: 13px auto;
}

.displayParent {
    width: 90%;
    padding: 0 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.displayChild {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.displayHeader {
    font-size: 2.2rem;
    margin: 0;
}

.displayText {
    font-size: 16px;
    width: 70%;
    margin: 30px auto;
}

.displayImage {
    width: 60%;
    user-select: none;
}

.boxParent {
    width: 70%;
    margin: auto;
    padding: 15px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 0 10px 30px 0;
}

.boxChild {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.boxHeader {
    font-size: 2.2rem;
    margin: 0;
    margin-top: 20px;
    text-align: center;
}

.boxText {
    font-size: 15px;
    width: 70%;
    margin: 20px auto;
}


/*HERO*/

.heroParent {
    min-height: 100vh;
    width: 90%;
    padding: 0 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media all and (max-width: 800px) {
    .heroParent {
        flex-direction: column;
        padding-top: 50px;
    }
}

.heroChild {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heroHeader {
    font-size: 2.75rem;
    margin: 0;
    text-align: center;
}

.heroText {
    font-size: 17px;
    width: 80%;
    margin: 30px auto;
}

.landingButton {
    padding: 10px 30px;
    font-size: 19px;
}

.heroImage {
    width: 70%;
    user-select: none;
}


/**/

.tertiaryCardContainer .cardParent {
    background: var(--quaternaryShade);
}

.secondaryBoxParent {
    background: var(--primaryShade);
}


/*FOOTER*/

.footer {
    --footerPrimary: #2B92F1;
    --footerTertiary: rgb(40, 40, 53);
    display: flex;
    flex-wrap: wrap;
    color: white;
    padding: 20px 5%;
    font-family: "poppins", sans-serif;
    background: var(--footerTertiary);
    justify-content: space-between;
    overflow: hidden;
}

@media all and (max-width: 850px) {
    .footer {
        flex-direction: column;
        justify-content: center;
    }
}

.footerLeft {
    display: flex;
    flex-wrap: wrap;
    width: fit-content;
    flex-direction: column;
}

@media all and (max-width: 850px) {
    .footerLeft {
        width: 100%;
        justify-content: center;
    }
}

.footerTopper {
    display: flex;
    height: fit-content;
    align-items: center;
}

@media all and (max-width: 850px) {
    .footerTopper {
        width: 100%;
        justify-content: center;
    }
}

.footerIcon {
    margin: 0 10px;
    width: 48px;
    height: 48px;
    border-radius: 100%;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.2) 0 4px 30px 0;
}

.footerHeader {
    margin: 0;
    font-size: 27px;
}

.footerCopyright {
    text-align: center;
}

.footerContentContainer {
    display: flex;
    flex-wrap: wrap;
    width: max-content;
    justify-content: center;
}

@media all and (max-width: 850px) {
    .footerContentContainer {
        flex-direction: column;
        width: 100%;
        text-align: center;
    }
}

.footerContentChild {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}

.footerContentHeader {
    font-size: 21px;
    margin: 0;
    padding-bottom: 10px;
}

@media all and (max-width: 850px) {
    .footerContentHeader {
        padding-top: 20px;
    }
}

.footerLink {
    font-size: 16px;
    text-decoration: none;
    color: var(--footerPrimary);
    font-weight: 600;
    transition: all 0.3s;
    padding: 4px 0;
    width: fit-content;
}

@media all and (max-width: 850px) {
    .footerLink {
        margin: auto;
    }
}

.footerLink:hover {
    box-shadow: var(--footerPrimary) 0 2px 0 0;
}

.footerLink:focus {
    box-shadow: var(--footerPrimary) 0 2px 0 0;
    opacity: 0.8;
}

.footerLink:visited {
    box-shadow: var(--footerPrimary) 0 0 0 0;
    opacity: 0.7;
}